* {
  margin: 0;
  padding: 0;
  outline: none;
}

*, button, input {
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #101010;
}

:root {
  /* --primary-color: #da3a3a; */
  --primary-color: #03B3FA;
  /* --primary-color: #07E36D; */
  --background-color: #101010;
  --focus-color: #191919;
  --border-style: dashed;

  --primary-font-color: #fefefe;
  /* --primary-font-color: #07E36D; */
  --input-border-style: solid;
}

*::selection {
  background-color: var(--primary-color);
}
